body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #ff9b9b;
}

label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #a82d2d;
    margin-bottom: 3px;
}

input {
    border: solid 2px #a82d2d;
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 300px;
}

button[type="submit"] {
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    min-width: 300px;
    width: 300px;
    padding: 20px;
    background-color: #a82d2d;
}

.answer {
    display: none;
    margin-top: 20px;
    background-color: #ff9b9b;
    padding: 20px;
    border-radius: 20px;
}

.answer-visible {
    display: block;
}